@import "../../theme.scss";

:host {
  display: block;
  width: 80%;
  margin: 3rem auto 0;
}

table {
  width: 100%;

  .action-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .mat-mdc-header-cell {
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: $light-primary-50;
  }
}