@import "../../theme.scss";

:host {
  display: block;
  padding: 2rem 3rem;
}

mat-form-field {
  max-width: 600px;
  margin-left: 5.8rem;
  display: block;
  transform: scale(1.3);
}

mat-card {
  width: 100%;
  margin-bottom: 1rem;

  mat-card-content {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;

    div {
      font-size: 1.1rem;
      padding: 0 0.5rem;
      color: $light-primary-50;
    }
  }
}

mat-accordion {
  mat-panel-title {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: $light-accent-A200;
  }
  mat-panel-description {
    letter-spacing: 5px;
    color: $light-accent-50;
    font-size: 1rem;
  }

  table {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .mat-cell,
    .mat-header-cell {
      font-size: 1.2rem;
    }
  }
}
